
<base href="http://localhost:3000">

<form action="./updateUser" method="post" enctype="multipart/form-data">
    <a name="_id" href="">{{dulieu._id}}</a>
    <input name="userNameUd" value="{{dulieu.userName}}" placeholder="user Name">
    <input name="monUd" value="{{dulieu.mon}}" placeholder="Mon Hoc">
    <input name="avatar11" type="file" value="{{dulieu.avatar}}" >
    <button type="submit">Save</button>
</form>